[submodule "ros2/common_interfaces"]
    path = src/ros2/common_interfaces
    url = https://github.com/ros2/common_interfaces.git
    branch = jazzy

[submodule "ros2/example_interfaces"]
    path = src/ros2/example_interfaces
    url = https://github.com/ros2/example_interfaces.git
    branch = jazzy

[submodule "ros2/rcl_interfaces"]
    path = src/ros2/rcl_interfaces
    url = https://github.com/ros2/rcl_interfaces.git
    branch = jazzy

[submodule "ros2/test_interface_files"]
    path = src/ros2/test_interface_files
    url = https://github.com/ros2/test_interface_files.git
    branch = jazzy

[submodule "ros2/rosidl_core"]
    path = src/ros2/rosidl_core
    url = https://github.com/ros2/rosidl_core.git
    branch = jazzy

[submodule "ros2/rosidl_defaults"]
    path = src/ros2/rosidl_defaults
    url = https://github.com/ros2/rosidl_defaults.git
    branch = jazzy

[submodule "ros2/unique_identifier_msgs"]
    path = src/ros2/unique_identifier_msgs
    url = https://github.com/ros2/unique_identifier_msgs.git
    branch = jazzy

[submodule "ros2-rust/rosidl_rust"]
    path = src/ros2-rust/rosidl_rust
    url = https://github.com/ros2-rust/rosidl_rust.git
    branch = main

[submodule "ros2-rust/rosidl_runtime_rs"]
    path = src/ros2-rust/rosidl_runtime_rs
    url = https://github.com/ros2-rust/rosidl_runtime_rs.git
    branch = main

[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git